// COLORS

$primary-accent-color: #33d2fd;
$secondary-accent-color: #fc6374;

$primary-dark-font: #233148;
$primary-white-font: #fff;
$secondary-dark-font: #6a6d89;

$footer-bg-color: #233148;
$secondary-bg-color: #fafafc;

// FONT

$primary-font: 'Work Sans', sans-serif;


%body-heading {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: #233148;
    margin: 0;
    padding: 0;
}